*{
    padding: 0;
    margin: 0;
}
.acceuil{
    background-color: rgb(130, 223, 117);
}
header{
    width: 100%;
    height: 80px;
    color:white;
    background-image: url("img/image_6.png");
    display: flex;
    align-items: center;
    box-shadow: 0 0.5rem 1rem black;
}
header:first-child{
    font-size: 2rem;
}
.icon{
    border-radius: 10px;
    padding-left: 25px;
    background: url("img/img_loupe.png") no-repeat left;
    background-size: 20px;
    background-color: white;
}
.icon:focus{
    border: 4px solid blue;
}
nav{
    display: flex;
    width: 50%;
    justify-content: space-evenly;
}
nav li{
    list-style: none;
}
nav li a{
    text-decoration: none;
    font-size: 2.5rem;
    color: white;
}
nav li a:hover{
    border-bottom: 2px solid white;
}
h1{
    width: 20%;
    height: 100%;
    padding: 0 10px 0 10px;
    display: flex;
    justify-content: center;
    border-right: 2px solid white;
}
header div{
    width: 30%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
    border-left: 2px solid white;
}
header div input{
    margin-left: 10px;
    font-size: 1.25rem;
    padding: 5px 0 5px 0;
}
header div input:last-child{
    color: blue;
}
@media screen and (max-width: 700px) {
    #carImg, #prev, #next {
      display: none;
    }
}
#carImg{
    width: 45rem;
    height: 37rem;
    box-shadow: 0.5rem 0.5rem 0.5rem rgb(0, 0, 0);
}
.carou{
    display: flex;
    align-items: center;
    margin-top: 1.5rem;
}
#prev{
    margin-right: -3rem;
    z-index: 2;
    padding: 1rem;
    width: 6rem;
    border-radius: 20px;
    background-color: goldenrod;
}
#next{
    margin-left: -3rem;
    z-index: 2;
    padding: 1rem;
    width: 6rem;
    border-radius: 20px;
    background-color: goldenrod;
}
.mainAccueil{
    display: flex;
    justify-content: space-evenly;
    font-size: 1.5rem;
}
.textAccueil{
    margin-top: 1.5rem;
}
.pAccueil{
    text-align: justify;
    width: 36rem;
}
.pAccueil::first-letter{
    font-size: 2.5rem;
}
.mainForm{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    background-image: url("img/animaux.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}
.form{
    background-color: rgb(130, 223, 117);
    margin-top: 50px;
    border-radius: 20px;
}
.form fieldset{
    font-size: 1.5rem;
    display: flex;
    flex-direction: column;
    margin: 20px;
    padding: 20px;
}
.form label::after{
    content: "*";
}
.form input, .form select{
    font-size: 1.5rem;
    margin-bottom: 30px;
}
.email:focus:valid{
    border: 4px solid green;
}
.email:focus:invalid{
    border: 4px solid red;
}
.form button{
    font-size: 1.5rem;

}
p span{
    font-size: 3rem;
}
footer{
    width: 100%;
    font-size: 5rem;
    text-align: center;
    margin-top: 2rem;
    font-style: italic;
}
table{
    border-collapse: collapse;
    margin-top: 10%;;
    background-color:white;
    width: 80%;
    height: 90px;
    text-align: left;
}
th{
    background-color: bisque;
    color:brown;
    font-size: 1.3rem;
}
th, td{
    border: 1px solid black;
    padding: 10px;
    }
tr:nth-child(odd){
    color:darkgoldenrod;
    font-family:Arial, Helvetica, sans-serif;
    font-size: 1.1rem;
    font-style:italic;
    }
tr{
    color:dodgerblue;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 1.2rem;
}
@media print{
    .print {
        display:none;
    }
}